/* Responsive layout */
@media only screen and (max-width:1300px) {

  .col2 {
      grid-template-columns: 1fr;
  }

}

@media only screen and (min-width:1125px) {

}

@media only screen and (max-width:1124px) {



}


/* Tablet =============================================== */

@media only screen and (max-width:800px) { /* For tablets: */




}

@media only screen and (max-width:600px),(max-height:700px) {   /* For tablets: */

  .menu-top-right {
    position: fixed;
    top: 48px;
    left: 20px;
    right: auto;
  }

  .row1 {
    top: 88px;
    left: 0;
    width: auto;
    margin: 0;
    padding: 0 0 0 20px;
    min-width: auto;
    min-height: auto;
    transform: translate(0, 0);
  }

  .row2 {
    top: 88px;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 20px;
    min-width: auto;
    min-height: auto;
    transform: translate(0, 0);
  }

  .row3 {
    top: 88px;
    left: 0;
    width: 100%;
    height: calc(100% - 20px);
    margin: 0;
    /* margin: 0 10px 0 10px; */
    min-width: auto;
    min-height: auto;
    transform: translate(0, 0);
    border: 0px solid #000000;
  }

  .ppDetail {
    top: 60px;
    padding-top: auto;
    left: 0;
    width: 100%;
    min-width: auto;
    min-height: auto;
    margin: 0 20px 0 20px;
    transform: translate(0, 0);
  }

  .tb4 {
  	display: grid;
    grid-template-columns: 45px 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    border-bottom: 1px solid #000000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .tb4Mo {
    display: none;
    /* color: transparent;
    grid-column:0;
    grid-row: 0; */
  }
}

@media only screen and (max-width:450px) {   /* For tablets: */

}
