

/* Variable ================================================ */

:root {
  --scrollbar-width: 20px;
  --scrollbar-right: 0px;
  --scrollbar-left: 17px;

  --col1-width: 140px;
  --col2-1-width: 310px;
  --col2-extra: 3px;
  --col3-width: 15%;
  --col4-width: 120px; /* = --col1-width - --scrollbar-widt */
}


/* Scrollbar ================================================ */

::-webkit-scrollbar { /* width */
  width: var(--scrollbar-width);
}
::-webkit-scrollbar-track { /* Track */
  background: transparent;
}
::-webkit-scrollbar-thumb { /* Handle */
  background: rgb(0,0,0,1);
  background-clip: padding-box;
  border-top: 0px solid transparent;
  border-right: var(--scrollbar-right) solid transparent;
  border-bottom: 0px solid transparent;
  border-left: var(--scrollbar-left) solid transparent;
}
::-webkit-scrollbar-thumb:active { /* Handle on hover */
  /* background: rgb(0,0,0,0.24);
  border-radius: 20px;
  background-clip: padding-box;
  border: 5px solid transparent; */
}


/* Body ================================================ */

body {
  margin: 0;
  padding: 0;
}


/* Divider =============================================== */

hr {
    background: #000000;
    border: 0;
    height: 1px;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
}


/* Channel ================================================ */

.ChannelInfo {
  margin: 20px 0 0 0;
  padding: 0;
}

.ChannelContents {
  /* display: grid; */
  display: flex;
  margin: 20px 0 0 0;
  padding-bottom: 20px;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;  */
  /* grid-template-columns: 1fr repeat(2, 1fr);  */
  column-gap: 20px;
  row-gap: 20px;
  font-size: 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


/* Blocks ================================================ */

.Block {
  padding: 0;
  color: #000000;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  flex-grow: 1;
  width: 22%;
}

.Block__title {
  display: block;
  padding-bottom: 0.5em;
}

.BlockInner__Link {
  display: block;
  font-family: FKGroteskSemiMonoTrial-Regular,sans-serif;
  font-size: 14.4px;
  /* letter-spacing: 0.027em; */
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
  /* text-transform: uppercase; */
}

.BlockInner__Channel {
  display: block;
  padding: 10px;
  font-family: FKGroteskMonoTrial-Regular,sans-serif;
  font-size: 14.4px;
  letter-spacing: 0.027em;
  text-transform: uppercase;
  margin-block-start: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000;
  border: 0px solid #000000;
  text-align: center;
}

.BlockInner__Text p {
/*   margin: 0.3em; */
  width: 100%;
  max-width: 600px;
}

.Block iframe{
/*   max-width: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  /* outline: solid 1px #000000;
  outline-offset: -1px; */
}


/* Blocks: innner ================================================ */

.Text {
  max-height: 200px;
  /* margin-top: 20px; */
  /* grid-column: 1 / span 4; */
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

/* .Text::-webkit-scrollbar-thumb {
  background: gray;
  background-clip: padding-box;
  border-top: 0px solid transparent;
  border-right: var(--scrollbar-right) solid transparent;
  border-bottom: 0px solid transparent;
  border-left: var(--scrollbar-left) solid transparent;
} */

.Media {
  width: 32%;
  height: 100%;
  grid-column: span 2;
}

.BlockInner__Media {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background: #000000;
}



/* Elements ================================================ */

img {
  width: 100%;
  /* outline: solid 1px #000000;
  outline-offset: -1px;
  background: #000000; */
}

video {
  width: 100%;
}



/* Media ================================================ */

@media only screen and (max-width:600px) {   /* For tablets: */
  
  body {
    padding: 0 20px 0 20px;
  }
  
  .ChannelContents {
    grid-template-columns: 1fr 1fr 1fr; 
    font-size: 0;
  }
  
  .Text {
    /* grid-column: 1 / span 3;  */
  }

  .Media {
    grid-column: span 3;
  }
  
}
